<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Image</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach((p) => { %>
                <tr>
                    <td><%= p.id %></td>
                    <td><%= p.name %></td>
                    <td><%= p.price %></td>
                    <td><%= p.description %></td>
                    <td><img src="/uploads/<%= p.image %>" style="height: 100px;" alt=""></td>
                    <td>
                        <a href="/edit/<%= p.id %>">Edit</a>
                        <a onclick="return confirm('Are you sure?')" href="/delete/<%=p.id%>">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>